{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{if eq .Title "Mezzo"}}Mezzo{{else}}{{.Title}} - Mezzo{{end}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{if .OGImage}}
	<meta property="og:image" content="{{.Scheme}}://{{.Host}}{{.OGImage}}">
	<meta property="og:image:alt" content="{{.Title}}">
	<meta property="og:image:type" content="image/gif">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:image" content="{{.Scheme}}://{{.Host}}{{.OGImage}}">
	{{end}}
	<link rel="stylesheet" href="/static/style.css{{if .Version}}?v={{.Version}}{{end}}">
	<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
	<header>
		<a class="logo" href="/" aria-label="Mezzo homepage"><img src="/static/mezzo.svg" alt="Mezzo" width="129px" height="30px"></a>
		<form id="search" role="search" method="get" action="/search">
			<div class="search-container">
				<input type="search" id="q" name="q" placeholder="Search for GIFs or paste a link..." value="{{.Query}}">
				<button type="submit" aria-label="Search">
					<svg aria-hidden="true" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
				</button>
			</div>
		</form>
	</header>

	<main>
		{{template "content" .}}
	</main>

	<footer>
		<nav>
			{{if .Version}}
			<span>Version {{.Version}}</span>
			•
			{{end}}
			<a href="https://gitfield.org/fsky/mezzo">Source code</a>
			{{if .PatchesURL}}
			•
			<a href="{{.PatchesURL}}">Patches</a>
			{{end}}
		</nav>
	</footer>
</body>
</html>
{{end}}
