{{define "content"}}
	<h1 class="index-hero">A private and lightweight GIF viewer for Tenor.</h1>
	<section>
		<h2>What is this?</h2>
		<p>Mezzo is an open-source, privacy-focused front-end for Tenor that allows you to browse and view GIFs without Google's tracking and advertising systems.</p>
	</section>
	<section>
		<h2>How to use</h2>
		<p>Replace <code>tenor.com</code> with <code>{{.Host}}</code> in a Tenor link, or paste the link into the search bar above.</p>
		<h3>Example</h3>
		<pre><code>https://tenor.com/view/a-on-the-test-gif-16733124990588327175</code></pre>
		<p>becomes</p>
		<pre><code>{{.Scheme}}://{{.Host}}/view/a-on-the-test-gif-16733124990588327175</code></pre>
	</section>
	<section>
		<h2>Legal Notice</h2>
		<p>Mezzo does not allow uploads or host any content or media. All content on any Mezzo instance is from Tenor™. Tenor is a trademark of Google LLC. Any issues with content on Mezzo should be be reported to Tenor. Mezzo is not affiliated with Tenor, Inc. or Google LLC.</p>
	</section>
{{end}}
