[Container]
ContainerName=mezzo
DropCapability=ALL
#Environment=MEZZO_PORT=8006
#Environment=MEZZO_PATCHES_URL=
#Environment=MEZZO_CACHE_DISABLED=false
#Environment=MEZZO_CACHE_GIF_TTL=1h
#Environment=MEZZO_CACHE_GIF_MAX=1000
#Environment=MEZZO_CACHE_SEARCH_TTL=10m
#Environment=MEZZO_CACHE_SEARCH_MAX=500
#Environment=MEZZO_CACHE_PROFILE_TTL=30m
#Environment=MEZZO_CACHE_PROFILE_MAX=200
Image=foundry.fsky.io/fsky/mezzo:latest
NoNewPrivileges=true
PublishPort=8006:8006
ReadOnly=true

[Service]
Restart=always
